<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
<div class="wp">
    <div class="demo-wrap">
        <div class="bx-wrapper">
            <div class="bx-window">
                <!--[diy=diy30]--><div id="diy30" class="area"></div><!--[/diy]-->
            </div>
        </div>
        <div class="bx-nav"></div>
        <div class="pager location">
            <ul class="ul_page">
                <li pagenum="0" class="current"></li>
                <li pagenum="3"></li>
                <li pagenum="6"></li>
            </ul>
        </div>
    </div>
    <!--头条推荐开始-->
        <!--[diy=diy31]--><div id="diy31" class="area"></div><!--[/diy]-->
    <div class="jd_l_b"></div>
    <!--left内容区域-->
    <div id="index_l">
        <!--推荐文章区域-->
        <div id="topnews">
            <!--[diy=diy32]--><div id="diy32" class="area"></div><!--[/diy]-->
        </div>
        
        <div class="floor_n">
            <!--[diy=diy33]--><div id="diy33" class="area"></div><!--[/diy]-->
        </div>
        
    </div> 
</div>

    <!--右边栏开始-->
    <div class="arc_r">
        <div class="doublet_bg">
            <div class="doublet">
                <div class="notice_top">
                    <div class="notice_tit">
                        <h2>公告看板</h2>
                        <div class="notice_r">
                            <span id="bspager" class="ll"></span><span id="bx-prev"></span><span id="bx-next"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="bulletin">
                    <!--[diy=diy42]--><div id="diy42" class="area"></div><!--[/diy]-->
                </div>
            </div>
        </div>  
        <div class="cl"></div>
        <div class="r1_rec">
             <!--[diy=diy45]--><div id="diy45" class="area"></div><!--[/diy]-->
        </div>
    </div>

<div class="cl"></div>
<div class="friendlink">
    <b class="text_b">友情链接</b> 
    <div><!--[diy=diy49]--><div id="diy49" class="area"></div><!--[/diy]--> </div>
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=$_GET['diy']&r={echo random(4)}" type="text/javascript"></script>
<!--{subtemplate common/footer}-->
