<div id="forum_r">
    <!--广告-->
    <!--{block/32}-->
    <!--焦点图-->
    <!--{block/33}-->
    <div class="toppic">
        <h1>达人秀 <span class="m_star y"><a href="http://$_G['setting']['domain']['app']['forum']/phone.php?mod=misc&ac=daren&op=index">更多达人</a></span></h1>
        <!--{block/34}-->
    </div>        
    <div class="toppic">
        <h1>他们爱交流...</h1>
        <!--{block/35}-->
    </div>
    <div class="toppic">
        <h1>本周讨论最热的</h1>
        <ul class="rank_bg w250">
            <!--{block/36}-->
        </ul>
    </div>

</div>